{% load i18n static %}
    <nav class="navbar navbar-default" role="navigation">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-need-collapsed">
                <span class="sr-only">navbar toggle</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/">
                <img class="img-rounded img-avatar" src="{% static 'hosts/images/logo.png' %}" alt="Home" title="{% trans 'Back Home? Click me.' %}" />
            </a>
            <a class="navbar-brand" href="/">
                ops home
            </a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-need-collapsed">
            <ul class="nav navbar-nav">
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                       {% trans 'Import' %}
                       <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="{% url 'hosts:load_data_hosts' %}" title="{% trans 'Host' %}">{% trans 'Host' %}</a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'hosts:load_data_vms' %}" title="{% trans 'VM' %}">{% trans 'VM' %}</a>
                        </li>
                    </ul>
                </li>
                <li>
                    <a href="{% url 'hosts:show_about' %}" title="/">{% trans 'about' %}</a>
                </li>
            </ul>

            <ul class="nav navbar-nav navbar-right">
            {% if user.is_authenticated %}
                <li class="dropdown">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img class="img-rounded img-avatar" src="{% get_media_prefix %}{{ user.player.avator }}" title="{% trans 'View profile' %}">
                       <b class="caret"></b>
                    </a>
                    <ul class="dropdown-menu">
                        <li>
                            <a href="#">
                            <p>{% trans 'Signed in as' %}</p>
                            {{ user.username }}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'accounts:profile' %}" class="navbar-link">
                            {% trans 'Your profile' %}
                            </a>
                        </li>
                        <li>
                            <a href="{% url 'hosts:show_about' %}" class="navbar-link">
                            {% trans 'Help' %}
                            </a>
                        </li>
                        <li class="divider"></li>
                        <li>
                            <a href="{% url 'accounts:logout' %}" class="navbar-link">
                            {% trans 'Sign out' %}
                            </a>
                        </li>
                    </ul>
                </li>
            {% else %}
                <li>
                    <a href="{% url 'accounts:login'%}" class="navbar-link">
                        {% trans 'Sign in' %}
                    </a>
                </li>
            {% endif %}
            </ul>
        </div>
    </nav>
