{% extends 'assets/base.html' %}
{% load i18n staticfiles %}
{% block titles %}{% trans 'VM' %}{% endblock %}
{% block content %}
    <!-- filters Start -->
    {% include "assets/filters.html" %}
    <!-- filters End -->
    <!-- input-for-search Start -->
    <div class="row">
        <div class="col-xs-offset-1 col-xs-10 col-sm-11 text-right">
            <form class="form-inline" role="form" id="form-searching" action="{% url 'assets:list_vms' %}" method="get">
                <div class="input-group">
                    <input class="form-control input-sm" type="text" id="q" name="q" placeholder="{{ q|default:"lookup the hostname?" }}" maxlength="20">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" id="search">{% trans 'Search' %}</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- input-for-search End -->
    <!-- form-for-select Start -->
    <div class="row">
        <div class="col-md-3 col-sm-2 text-left">
            <form class="form-inline" role="form" id="form-bizunit" action="{% url 'assets:update_vms' %}" method="post">{% csrf_token %}
                <input type="hidden" name="checked_item_ids_bizunit" value="">
                <div class="form-group">
                    <label for="select-bizunit"></label>
                    <select class="form-control input-sm" id="select-bizunit" name="select-bizunit">
                    <option value="" selected="selected">{% trans 'BizUnit' %}</option>
                    {% for b in biz_units %}
                        <option value="{{ b.id }}">
                            {{ b.name }} ({{ b.desc }})
                        </option>
                    {% endfor %}
                    </select>
                </div>
            </form>
        </div>
        <div class="col-md-3 col-sm-2 text-left">
            <form class="form-inline" role="form" id="form-runenv" action="{% url 'assets:update_vms' %}" method="post">{% csrf_token %}
                <input type="hidden" name="checked_item_ids_runenv" value="">
                <div class="form-group">
                    <label for="select-runenv"></label>
                    <select class="form-control input-sm" id="select-runenv" name="select-runenv">
                    <option value="" selected="selected">{% trans 'RunEnv' %}</option>
                    {% for e in run_envs %}
                        <option value="{{ e.id }}">
                            {{ e.name }} ({{ e.desc }})
                        </option>
                    {% endfor %}
                    </select>
                </div>
            </form>
        </div>
    </div>
    <!-- form-for-select End -->
    <br/>
    <!-- list_of_vms Start -->
{% if list_of_vms %}
    <div class="row text-center">
        {% if list_of_vms.has_previous %}
        <strong>
            <a href="?biz_unit={{ selected_biz_unit_id }}&run_env={{ selected_run_env_id }}&page={{ list_of_vms.previous_page_number }}&q={{ q }}">{% trans 'Previous' %}</a>
        </strong>
        {% endif %}

        <em>Page {{ list_of_vms.number }} of {{ list_of_vms.paginator.num_pages }}</em>

        {% if list_of_vms.has_next %}
        <strong>
            <a href="?biz_unit={{ selected_biz_unit_id }}&run_env={{ selected_run_env_id }}&page={{ list_of_vms.next_page_number }}&q={{ q }}">{% trans 'Next' %}</a>
        </strong>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <caption class="text-center">{% trans 'VM' %}</caption>
            <thead>
                <tr>
                    <th><label class="label" for="checkbox_all"><input type="checkbox" id="checkbox_all"></label></th>
                    <th>{% trans 'Hostname' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'IP' %}</th>
                    <th>{% trans 'OS' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'RunEnv' %}</th>
                    <th>{% trans 'BizUnit' %}</th>
                    <th>{% trans 'Desc' %}</th>
                    <th>{% trans 'EndUser' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for a in list_of_vms %}
                <tr>
                    <td><label class="label" for="checkbox_item"><input type="checkbox" id="checkbox_item" name="checkbox_item" value="{{ a.id }}"></label></td>
                    <td>{{ a.hostname }}</td>
                    <td>{{ a.instance_type }}</td>
                    <td>{{ a.os_ip_lan }}</td>
                    <td>{{ a.os_type }}</td>
                    <td>{{ a.is_online|yesno:"Online,Offline" }}</td>
                    <td>{{ a.run_env }}</td>
                    <td>{{ a.biz_unit }}</td>
                    <td>{{ a.app_desc|truncatechars:20 }}</td>
                    <td>{{ a.operator }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="row text-info text-center">
        <p><strong>{% trans 'Not available.' %}</strong></p>
    </div>
{% endif %}
    <!-- list_of_vms End -->

    <!-- i18n Start -->
    {% include "assets/i18n.html" %}
    <!-- End of i18n -->

{% endblock %}
