{% extends 'assets/base.html' %}
{% load i18n staticfiles %}
{% block titles %}{% trans 'Host' %}{% endblock %}
{% block content %}
    <!-- filters Start -->
    {% include "assets/filters.html" %}
    <!-- filters End -->
    <!-- input-for-search Start -->
    <div class="row">
        <div class="col-sm-3 text-left">
            <form class="form-inline" role="form" id="form-searching" action="{% url 'assets:list_hosts' %}" method="get">
                <div class="input-group">
                    <input class="form-control input-sm" type="text" id="q" name="q" placeholder="{{ q|default:"lookup the hostname?" }}" maxlength="20">
                    <span class="input-group-btn">
                        <button type="button" class="btn btn-default btn-sm" id="search">{% trans 'Search' %}</button>
                    </span>
                </div>
            </form>
        </div>
    </div>
    <!-- input-for-search End -->
    <br/>
    <!-- Data List Start -->
{% if list_of_hosts %}
    <div class="row text-center">
        {% if list_of_hosts.has_previous %}
        <strong>
            <a href="?biz_unit={{ selected_biz_unit_id }}&run_env={{ selected_run_env_id }}&page={{ list_of_hosts.previous_page_number }}&q={{ q }}">{% trans 'Previous' %}</a>
        </strong>
        {% endif %}

        <em>Page {{ list_of_hosts.number }} of {{ list_of_hosts.paginator.num_pages }}</em>

        {% if list_of_hosts.has_next %}
        <strong>
            <a href="?biz_unit={{ selected_biz_unit_id }}&run_env={{ selected_run_env_id }}&page={{ list_of_hosts.next_page_number }}&q={{ q }}">{% trans 'Next' %}</a>
        </strong>
        {% endif %}
    </div>
    <div class="table-responsive">
        <table class="table table-striped">
            <caption class="text-center">{% trans 'Host' %}</caption>
            <thead>
                <tr>
                    <th>{% trans 'Hostname' %}</th>
                    <th>{% trans 'Type' %}</th>
                    <th>{% trans 'IP' %}</th>
                    <th>{% trans 'OS' %}</th>
                    <th>{% trans 'Status' %}</th>
                    <th>{% trans 'RunEnv' %}</th>
                    <th>{% trans 'BizUnit' %}</th>
                    <th>{% trans 'Desc' %}</th>
                    <th>{% trans 'EndUser' %}</th>
                </tr>
            </thead>
            <tbody>
            {% for a in list_of_hosts %}
                <tr>
                    <td>{{ a.hostname }}</td>
                    <td>{{ a.model }}</td>
                    <td>{{ a.os_ip_lan_mgmt }}</td>
                    <td>{{ a.os_type }}</td>
                    <td>{{ a.is_online|yesno:"Online,Offline" }}</td>
                    <td>{{ a.run_env }}</td>
                    <td>{{ a.biz_unit }}</td>
                    <td>{{ a.app_desc|truncatechars:20 }}</td>
                    <td>{{ a.operator }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
{% else %}
    <div class="row text-info text-center">
        <p><strong>{% trans 'Not available.' %}</strong></p>
    </div>
{% endif %}
    <!-- Data List End -->

    <!-- i18n Start -->
    {% include "assets/i18n.html" %}
    <!-- End of i18n -->

{% endblock %}
