{% extends "accounts/base.html" %}
{% load i18n staticfiles %}
{% block titles %}{% trans 'Registration' %}{% endblock %}
{% block js4this %}
    <script src="{% static 'accounts/js/accounts-login.js' %}"></script>
{% endblock %}
{% block content %}
    <div class="row">
        <div class="col-xs-2 col-sm-3 col-md-4"></div>
        <div class="col-xs-8 col-sm-6 col-md-4">
            <form class="form-horizontal" method="post" action=".">
                {% csrf_token %}
                {% if form.errors %}
                    {% include "accounts/errors.html" %}
                {% endif %}
                {% for field in thisform %}
                    {% include "accounts/fields.html" %}
                {% endfor %}
                <div class="form-group">
                    <div class="col-sm-offset-4 col-sm-8">
                        <input type="submit" class="btn btn-primary btn-block" value="{% trans 'Apply' %}" />
                        <a href="{% url 'accounts:login' %}" class="btn btn-link btn-block">{% trans 'Login' %}</a>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-xs-2 col-sm-3 col-md-4"></div>
    </div>
{% endblock %}
